<!DOCTYPE html>
<html>
	<head>
	
		<title>CAR4YOU</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css"></link>
	</head>
	<body>
		<div id="maindiv"> 
			<div id="navdiv">
				<ul>
				<logo><a href='/Startseite'><img src="img/logohd.png"/></a></logo>
					<drop><a href="#"><img src="img/dropdown.png"/></a></drop>
					<log><a href='/logout'><img src="img/logout.png"/></a></log>
					<log-m><a href="/logout"><img src="img/logoutmobile.png"/></a></log-m>
					<!--<log><a href="login"><img src="img/login.png"/></a></log>-->
					<!--<log-m><a href="login"><img src="img/loginmobile.png"/></a></log-m>-->
					<li><a href="/user"><%= user%></a></li>
					<li><a href="/MyMap">Maps</a></li>
					<li><a href="/Kontaktlog">Kontakt</a></li>
					<li><a href="/Staedte">Deine Städte</a></li>
					<li><a href="/Autos">Unsere Autos</a></li>
				</ul>
			</div>	
		</div>
	<img src="img/head1.png" width=100% height="auto"/>
		<!-- Two -->
			<div class="container">
			<div class="mid">
		<h1> Was ist CAR4YOU? </h1><br>
		<p>Der Abstieg der Fossilen Rohstoffe hat bereits begonnen, nun ist es wichtig 
		das dies auch bei der Nutzug der Energie umgesetzt wird. Deshalb hat sich Car4You zur Aufgabe gemacht 
		jedem der dies tun will auch kann ohne große Summen Geld zu investieren.</p>
			</div>
		<br>
			
			
			
			<div class="left-div">
			<img src="Bilder/standort.svg" width="35px"/><br><br><br>
			<p>Von überall schnell nach Hause oder woanders hin.</p>
			</div>
			
			<div class="left-div">
			<img src="Bilder/zeit.svg" width="40px"/><br><br><br>
			<p>Die Zeiten ändern sich, änder dich mit!</p>
			</div>
			
			<div class="left-div">
			<img src="Bilder/geld.svg" width="40px"/><br><br><br>
			<p> Preiswerter als unsere Konkurrenz, und dazu noch umweltbewusst!</p>
			</div>
			<br><br>
			</div>
			
			
			<div class="container2">
	
			<div class="iphoneleft">
			<img src="img/service/register.png"/><br><iphonetext>Registrieren</iphonetext></a><br><br><hr><br>
			<p>Registriere dich jetzt und hol dir Zugang zu unseren Paket Angeboten um noch mehr zu sparen!</p>
			</div>
		
			<div class="iphoneleft">
			<img src="Bilder/iphone.gif" width="250px">			
			</div>
			
			<div class="iphoneleft">
			<iphonetext>Jetzt im App-Store!</iphonetext><br><br><hr><br>
			<img src="img/store/apple.png"/>
			<img src="img/store/android.png"/>
			</div>
			
			</div>
		
		<div class="container3">	
		<br><br>
		<h1>Alles inklusive</h1><br>
		<p>Du zahlst nur den Minutenpreis - in ihm sind bereits alle Kosten <br> fürs Parken, Tanken und auch die Versicherung enthalten</p>
			
			
			<div class="mid">
		<img src="img/tesla/models.png"/><br><p>Model S</p><br>
		<font color="#0360A3"><h2>0,48€ pro min</h2></font><br>
			</div>
			<div class="mid">
		<img src="img/tesla/modelx.png"/><br><p>Model X</p><br>
		<font color="#0360A3"><h2>0,51€ pro min</h2></font><br>
			</div>
			
			<div class="mid">
		<img src="img/tesla/model3.png"/><br><p>Model 3</p><br>
		<font color="#0360A3"><h2>Bald verfügbar</h2></font><br>
			</div>
		</div>

			<div id="foot">
				<ul>
					<li><a href="impressum.html">Impressum</a></li>
					</ul>
					<logo><p>©2017 - car4you GmbH</p></logo>
					</div>
				
	</body>
</html>