<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Kontaktformular</title>
	<link rel="stylesheet" type="text/css" href="login.css"></link>
</head>
<body>
<div id="maindiv"> 
			<div id="navdiv">
				<ul>
				<logo><a href="index.html"><img src="img/logohd.png"/></a></logo>
					<drop><a href="#"><img src="img/dropdown.png"/></a></drop>
					<log><a href="/login"><img src="img/login.png"/></a></log>
					<log-m><a href="/login"><img src="img/loginmobile.png"/></a></log-m>
					<li><a href="/Kontakt">Kontakt</a></li>
					<li><a href="#">Über uns</a></li>
					<li><a href="#">Angebote</a></li>
					<li><a href="index.html">Home</a></li>
				</ul>
			</div>	
		</div>
	<div class="logo"><a href="index.html"><img src="img/login/car4you.png"></div></a>
	<div class="mitte">
		<form>
		<div class="headtitle">Kontaktformular</div>
		<div class="text">
		Sie haben Fragen zu car4you? Sie brauchen Hilfe? Oder Sie wollen einfach eine Rückmeldung loswerden? Dann nehmen Sie doch einfach Kontakt mit uns auf: 
		</div>
		<br><br>
			<div class="form-input">
				<input type="text" name="E-Mail"
				placeholder="E-Mail"> 
				<input type="text" name="Name"
				placeholder="Name"><br>
			</div>
			<div class="form-textinput">
				<input type="text" name="Text"
				placeholder="Text">
			</div>
			<br><br></font>
			<input type="submit" name="send"
			value="Senden" class="contact">
			
			<p style="color:white;">______________________________________________</p><br><br><br>
		</form>
	</div> 
		<div id="foot">
			<ul>
				<li><a href="#">Impressum</a></li>
			</ul>
		</div>	
</body>
</html>