<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="login.css"></link>
</head>
<body>
<div id="maindiv"> 
			<div id="navdiv">
				<ul>
				<logo><a href="index.html"><img src="img/logohd.png"/></a></logo>
					<drop><a href="#"><img src="img/dropdown.png"/></a></drop>
					<log><a href="/login"><img src="img/login.png"/></a></log>
					<log-m><a href="/login"><img src="img/loginmobile.png"/></a></log-m>
					<li><a href="/Kontakt">Kontakt</a></li>
					<li><a href="#">Tipps</a></li>
					<li><a href="#">Deine Städte</a></li>
					<li><a href="#">Unsere Autos</a></li>
				</ul>
			</div>	
		</div>
	<div class="logo"><img src="img/login/car4you.png"></div>
	<div class="mitte">
		<form action="login" method="post">
		<div class="headtitle">Benutzer anmelden</div>
			<div class="form-input">
				<input type="text" name="username"
				placeholder="Email" required>
			</div>
			<div class="form-input">
				<input type="password" name="password"
				placeholder="Passwort" required>
			</div>
				<input type="submit" name="submit"
				value="Login" class="login">
			<p style="color:white;">______________________________________________</p><br>
			<a style="text-decoration:none; color:white;" href="passwort">Passwort vergessen?</a><br><br>
			<a style="text-decoration:none; color:white;" href="registrieren">Du bist noch nicht bei CAR4YOU? Jetzt Registrieren.</a>
		</form>
	</div>
	<div id="footer2"> 
			<div id="foot">
				<ul>
					<li><a href="impressum.html">Impressum</a></li>
				</ul>
			</div>
			</div>	
</body>
</html>