<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset="utf-8" />
		<title>CAR4YOU</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css"></link>
	</head>
	<body>
		<div id="maindiv"> 
			<div id="navdiv">
				<ul>
				<logo><a href='/Startseite'><img src="img/logohd.png"/></a></logo>
					<drop><a href="#"><img src="img/dropdown.png"/></a></drop>
					<log><a href='/logout'><img src="img/logout.png"/></a></log>
					<!--<log><a href="login"><img src="img/login.png"/></a></log>-->
					<!--<log-m><a href="login"><img src="img/loginmobile.png"/></a></log-m>-->
					<li><a href="#"><%= user%></a></li>
					<li><a href="/MyMap">Maps</a></li>
					<li><a href="/Kontakt">Kontakt</a></li>
					<li><a href="#">Tipps</a></li>
					<li><a href="Deine Städte.html">Deine Städte</a></li>
					<li><a href="Unsere Autos.html">Unsere Autos</a></li>
				</ul>
			</div>	
		</div>
		<div class="map">
			<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1mrHULDDPFnPF4xwUTc__Rk1fYqQ" width="640" height="480"></iframe>
			</div>
		</div>

			<div id="foot">
				<ul>
					<li><a href="impressum.html">Impressum</a></li>
					</div>
				</ul>
	</body>
</html>