<!DOCTYPE html>
<html>
	<head>
		<link rel='icon' type='image/png' href='/favicon-16.png' />
		<title>CAR4YOU</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css"></link>
		<meta name="viewport" content=" initial-scale=0.8">
	</head>
	<body>
		<div id="maindiv"> 
			<div id="navdiv">
				<ul>
				<logo><a href='/Startseite'><img src="img/logohd.png"/></a></logo>
					<drop><a href="#"><img src="img/dropdown.png"/></a></drop>
					<log><a href='/logout'><img src="img/logout.png"/></a></log>
					<log-m><a href="/logout"><img src="img/logoutmobile.png"/></a></log-m>
					<!--<log><a href="login"><img src="img/login.png"/></a></log>-->
					<!--<log-m><a href="login"><img src="img/loginmobile.png"/></a></log-m>-->
					<li><a href="/user"><%= user%></a></li>
					<li><a href="/MyMap">Maps</a></li>
					<li><a href="/Kontaktlog">Kontakt</a></li>
					<li><a href="/Staedte">Deine Städte</a></li>
					<li><a href="/Autos">Unsere Autos</a></li>
				</ul>
			</div>	
		
		<div class="container5">
		<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1mrHULDDPFnPF4xwUTc__Rk1fYqQ" width="100%" height="460px"></iframe>
		</div>
		<!-- Two -->
			<div class="container">
			<div class="mid">
			<img src="Bilder/standort.svg" width="35px"/><br><br>
		<h1> Leg gleich los!</h1><br>
		<p>So nah warst du noch nie zu einem Tesla! <br>Jetzt hast du oben die Möglichkeit ihn zu Reservieren. <br>Worauf wartest du? Du bist bereit für deine CAR4YOU Fahrt!</p>
			</div>
		<br>
			</div>
			<div id="foot">
				<ul>
				<lin>Copyright © 2017 car4you</lin>
					<a href="impressum.html">Impressum</a>
					</ul>		
			</div>
					
	</body>
</html>