<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Passwort zur체cksetzen</title>
	<link rel="stylesheet" type="text/css" href="login.css"></link>
</head>
<body>
<div id="maindiv"> 
			<div id="navdiv">
				<ul>
				<logo><a href="index.html"><img src="img/logohd.png"/></a></logo>
					<drop><a href="#"><img src="img/dropdown.png"/></a></drop>
					<log><a href="/login"><img src="img/login.png"/></a></log>
					<log-m><a href="/login"><img src="img/loginmobile.png"/></a></log-m>
					<li><a href="/Kontakt">Kontakt</a></li>
					<li><a href="#">Tipps</a></li>
					<li><a href="#">Deine St채dte</a></li>
					<li><a href="#">Unsere Autos</a></li>
				</ul>
			</div>	
		</div>
	<div class="logo"><a href="index.html"><img src="img/login/car4you.png"></div></a>
	<div class="mitte">
		<form action ="passwort" method="post">
		<div class="headtitle">Passwort zur체cksetzen</div>
		
			<div class="form-input">
				<input type="text" name="email"
				placeholder="E-Mail">
			</div>
			
			<input type="submit" name="submit"
			value="Email senden" class="login">
			
			<p style="color:white;">______________________________________________</p><br>
			<div class="text">Bitte gebe die Emailadresse ein, mit der du bei Car4you registriert bist.<br> Wir schicken dir dann eine Email mit dem Link zum Zur체cksetzen deines Passwortes zu.</div><br>
		</form>
	</div> 
		<div id="foot">
			<ul>
				<li><a href="#">Impressum</a></li>
			</ul>
		</div>	
</body>
</html>