<!DOCTYPE html>
<html>
<head>
<link rel='icon' type='image/png' href='/favicon-16.png' />
	<meta charset="utf-8">
	<title>Passwort zurücksetzen</title>
	<link rel="stylesheet" type="text/css" href="login.css"></link>
	<meta name="viewport" content=" initial-scale=0.8">
</head>
<body>
<div id="maindiv"> 
			<div id="navdiv">
				<ul>
				<logo><a href="index.html"><img src="img/logohd.png"/></a></logo>
					<drop><a href="#"><img src="img/dropdown.png"/></a></drop>
					<log><a href="/login"><img src="img/login.png"/></a></log>
					<log-m><a href="/login"><img src="img/loginmobile.png"/></a></log-m>
					<li><a href="/Kontakt">Kontakt</a></li>
					<li><a href="staedte.html">Deine Städte</a></li>
					<li><a href="autos.html">Unsere Autos</a></li>
				</ul>
			</div>	
		</div>
	<div class="logo"><a href="index.html"><img src="img/login/car4you.png"></div></a>
	<div class="mitte">
		<form action="registrieren" method="post">
		<div class="headtitle">Registrieren</div>
		
			<div class="form-input">
				<input type="text" name="Vorname"
				placeholder="Vorname" required> 
				<input type="text" name="Nachname"
				placeholder="Nachname"required><br>
				<input type="text" name="Telefonnummer"
				placeholder="Telefonnummer"required>
				<input type="text" name="E-Mail"
				placeholder="E-Mail"required><br>
				<input type="text" name="Postleitzahl"
				placeholder="Postleitzahl"required>
				<input type="text" name="Wohnort"
				placeholder="Wohnort"required><br>
				<input type="text" name="Straße"
				placeholder="Straße"required>
				<input type="text" name="Hausnummer"
				placeholder="Hausnummer"required><br>
				<label>
				<select tag="Tag" name="Tag" size"50">
				<option>01</option>
				<option>02</option>
				<option>03</option>
				<option>04</option>
				<option>05</option>
				<option>06</option>
				<option>07</option>
				<option>08</option>
				<option>09</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
				<option>13</option>
				<option>14</option>
				<option>15</option>
				<option>16</option>
				<option>17</option>
				<option>18</option>
				<option>19</option>
				<option>20</option>
				<option>21</option>
				<option>22</option>
				<option>23</option>
				<option>24</option>
				<option>25</option>
				<option>26</option>
				<option>27</option>
				<option>28</option>
				<option>29</option>
				<option>30</option>
				<option>31</option>
				</select>
				</label>
				<label>
				<select tag="Monat" name="Monat" size"50">
				<option>Januar</option>
				<option>Februar</option>
				<option>März</option>
				<option>April</option>
				<option>Mai</option>
				<option>Juni</option>
				<option>Juli</option>
				<option>August</option>
				<option>September</option>
				<option>Oktober</option>
				<option>November</option>
				<option>Dezember</option>
				</select>
				</label>
				<label>
				<select tag="Jahr" name="Jahr" size"50">
				<option>1980</option>
				<option>1981</option>
				<option>1982</option>
				<option>1983</option>
				<option>1984</option>
				<option>1985</option>
				<option>1986</option>
				<option>1987</option>
				<option>1988</option>
				<option>1989</option>
				<option>1990</option>
				<option>1991</option>
				<option>1992</option>
				<option>1993</option>
				<option>1994</option>
				<option>1995</option>
				<option>1996</option>
				<option>1997</option>
				<option>1998</option>
				<option>1999</option>
				<option>2000</option>
				<option>2001</option>
				<option>2002</option>
				<option>2003</option>
				<option>2004</option>
				<option>2005</option>
				<option>2006</option>
				<option>2007</option>
				<option>2008</option>
				<option>2009</option>
				<option>2010</option>
				</select><br><br>
				</label>
				<input type="password" name="Passwort"
				placeholder="Passwort" required><br>
			</div>
			<p style="color:white;">______________________________________________</p><br><br>
			<font color="white">Ich akzeptiere die Allgemeinen Geschäftsbedingungen und willige die darin enthaltene datenschutzrechtliche <br>Einwilligungserklärung ein. Ich habe die Datenschutzerklärung gelesen und akzeptiert <br><br></font>
			<input type="submit" name="submit"
			value="Registrieren" class="login">
			
			<br><br><br><br><br><br>
		</form>
	</div> 
		<div id="foot">
				<ul>
				<lin>Copyright © 2017 car4you</lin>
					<a href="impressum.html">Impressum</a>
					</ul>		
			</div>
</body>
</html>