body {
	background-image: url("img/login/login1.png");
	background-size: cover;
	font-family: calibri;
	margin: 0px;
}
.mitte{
	text-align: center;
	margin-top: 50px
	
}
.logo{
	margin-top: 150px;
	text-align: center;	
}
.underlogin{
	font-size: 90px;
}
input{
	height:45px;
	width:300px;
	font-size:15px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;
	border: none;
	border-radius: 10px;
}
.text{
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	color:white;
}
.headtitle{
	font-size: 30px;
	font-weight: bold;
	color: white;
	margin-bottom: 20px;
	margin-top: -20px;
}

.login{
	height: 45px;
	width:180px;
	padding: 15px 30px;
	border:none;
	color: #fff;
	background-color: #1E415C;
	margin-bottom: 20px;
}

select{
	width:6.9%;
	border: 1px solid #bbb;
	padding: .75em 1em 0.5em 1em;
	background-color: white;
	background-position: right;
	background-repeat: no-repeat;
	border-radius: 10px;
}
select::-ms-expand{
	display:none;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

/* HEADER */
*{
	padding: 0px;
	margin: 0px;
}
#maindiv{
	width: 100%;
	background-size: cover;
}
#navdiv{
}
#navdiv ul{
	width: 100%;
	height: 70px;
	font-size: 1.2em;
	background: rgba(3, 98, 165, 0.84);
	line-height: 70px;
	color: white;
	position: ;
	z-index:2;
}
#navdiv ul a{
	text-decoration: none;
	color: white;
	padding: 25px;	
}
#navdiv ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
}
#navdiv logo{
	float: left;
	margin-left: 10px;
	margin-top: 5px;	
}
#navdiv ul log{
	float:right;
	margin: 7px;
	}
#navdiv log-m{
	display:none;
}
#navdiv drop{
	display:none;
}

#navdiv ul li:hover{
	background: #025389;
	transition: all 0.50s;
}

h1 {
	text-align: center;
	font-size: 2.5em;
	color: #333333;
}
htitel{
	font-size:35px;
	font-weight: normal;
}

/*footer*/

}
#footer{
	width: 100%;
	background-size: cover;
}
#foot{
}
#foot ul{
	position:fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
	font-size: 1.2em;
	background: rgba(38, 38, 38, 0.5);
	line-height: 50px;
	text-align: center;
}
#foot ul a{
	text-decoration: none;
	color: white;
}
#navdiv ul li{
	list-style-type: none;
	display: block;
}

/*Ab hier Mobile*/

@media only screen and (max-width: 950px){
#overlay{
	display:none;

}
#navdiv logo{
width: 140px;
   position: absolute;
   top: 0px;
   left: 50%;
   margin-left: -70px; /*half the size of width*/
	
}
#navdiv log-m{
	float:right;
	margin-top: 7px;
	display:block;
}
#navdiv log{
	display:none;
}
#navdiv drop{	
	float:left;
	margin-top: 7px;
	display:block;
}
#navdiv ul li{
	display:none;
}
h1 {
	font-size: 1.5em;
}
}