html{
height:100%;
width: 100%;	
}

body {
	font-family: calibri, sans-serif;
    background-color: transparent;
	min-height: 100%;
	padding-bottom: 5rem;
	position:relative;
}
*{
	padding: 0px;
	margin: 0px;
}
#maindiv{
	width: 100%;
	background-size: cover;
}
#navdiv{
}
#navdiv ul{
	width: 100%;
	height: 70px;
	font-size: 1.2em;
	background: rgb(3, 98, 165);
	line-height: 70px;
	color: white;
	position: fixed;
	z-index:2;
}
#navdiv ul a{
	text-decoration: none;
	color: white;
	padding: 25px;	
}
#navdiv ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
}

#navdiv logo{
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	
}
#navdiv ul log{
	float:right;
	margin: 7px;
	}
	
#navdiv log-m{
	display:none;
}

#navdiv drop{
	display:none;
}

#navdiv ul li:hover{
	background: #025389;
	transition: all 0.50s;
}

h1 {
	text-align: center;
	font-size: 30px;
}


htitel{
	font-size:35px;
	font-weight: normal;
}

h2{
	font-size: 25px;
	text-align:center;
	font-weight: normal;
}

h88{
	font-size:17px;
}

.button {
    background-color: none;
    border: solid #FFFFFF 1px;
    color: white;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
	border-radius: 40px;
}
.button:hover{
	background-color: white;
	color: #0360A3;
	transition: .3s;
}

/*index service*/

.container{
  text-align: center;

}
.left-div{
  display: inline-block;
  max-width: 200px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  vertical-align: top;
 }
 
 /*index service*/
.container2{
  text-align: center;
  background-color:#0360A3;

}

 /*index service*/
.container3{
  text-align: center;

}

.container4{
  text-align: center;
}

.container5{
  padding-top: 10px;
  text-align: center;

}
.container6{
	text-align: center;
	background-color:#F3F3F3;
}
 
  .iphoneleft{
  display: inline-block;
  max-width: 300px;
  color: white;
  text-align: center;
  padding: 30px;
  margin: 15px;
  vertical-align: middle;
 }

iphonetext {
	font-size: 2.5em;
	color: white;
}

 /*index service*/
 
 .mid{
  display: inline-block;
  max-width: 600px;
  text-align: center;
  padding: 30px;
  margin: 15px;
  vertical-align: middle;
 }
 
 /*Impressum*/
 .impressum{
  display: block;
  max-width: 700px;
  text-align: left;
  padding: 30px;
  margin: 15px;
  vertical-align: middle;
 }
 
 .t1{
	text-align: left;
 }
 
 h4 {
	text-align: center;
	font-size: 35px;
	color: #0360A3; 
}
 h3{
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	margin-top: -50px;
	/*margin-left: 90px;
	margin-right: 90px;*/
}

/*Map IPA*/
 .map{
	margin-top: -600px;
	margin-left: 50px;
 }
 
/*Unsere Autos*/
h8{
	font-size:1.5em;
	color: rgb(3, 98, 165);
	font-weight: bold;
}

@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
} 
div#slider{ 
	overflow: hidden; 
}
div#slider figure img{ 
	width: 20%; float: left; 
}
div#slider figure { 
	position: relative;
	width: 500%;
	margin-top: 70px;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 15s slidy infinite; 
}


/* Deine Städte */
/* Parallax: https://codepen.io/jmdev/pen/zPKZdg */
.parallax-one,
.parallax-two,
.parallax-three {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: 70%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.80;
}
.parallax-one{
	background-image: url('http://tub.tubgit.com/reimg/resize-img.php?src=http://tub.tubgit.com/images/z5mludviwor.jpg&h=1080&w=1920');
}
.parallax-two{
	background-image: url('http://www.hanseknipser.de/wp-content/uploads/2013/02/Waltershof-Panorama-SW-3.jpg');
}
.parallax-three{
	background-image: url('https://siswords.files.wordpress.com/2013/10/reichstag-sw.jpg');
}
.images{
	margin-left: 150px;
	margin-top: -100px;
}
.dark {
  background-color: #1E415C;
  color: #fff;
}

 
/*footer*/


#foot{
	position: absolute;
	width: 100%;
	font-size: 1.1em;
	background: rgb(3, 98, 165);
	line-height: 80px;
	text-align: center;
	bottom:0;
}

#foot logo{
	position: absolute;
	line-height: 80px;
	color: white;
	float: left;
	margin-left: 50px;
	font-size: 1.1em;
}
#foot ul a{
	text-decoration: none;
	color: white;
	float: right;
	margin-right: 50px;
}
#foot ul lin{
	text-decoration: none;
	color: white;
	float: left;
	margin-left: 50px;
}

/*Ab hier Mobile*/

@media screen and (min-width : 320px) 
and (max-width : 800px){ 

#overlay{
	margin-top: -130px;
	font-size: 1.3em;
}
htitel{
	display:none;
	font-size:30px;
}

h2{
	font-size: 20px;
	font-weight: normal;
	margin-left: 90px;
	margin-right: 90px;
}

#navdiv logo{
   width: 140px;
   position: absolute;
   top: 0px;
   left: 50%;
   margin-left: -70px; /*half the size of width*/
	
}

#navdiv log-m{
	float:right;
	margin-top: 7px;
	display:block;
}

#navdiv log{
	display:none;
}

#navdiv drop{	
	float:left;
	margin-top: 7px;
	display:block;
}

#navdiv ul li{
	display:none;
}
h1 {
	font-size: 1.5em;
}
}
