body {
	font-family: calibri, sans-serif;
    background-color: transparent;
}
*{
	padding: 0px;
	margin: 0px;
}
#maindiv{
	width: 100%;
	background-size: cover;
}
#navdiv{
}
#navdiv ul{
	width: 100%;
	height: 70px;
	font-size: 1.2em;
	background: rgba(3, 98, 165, 0.84);
	line-height: 70px;
	color: white;
	position: fixed;
	z-index:2;
}
#navdiv ul a{
	text-decoration: none;
	color: white;
	padding: 25px;	
}
#navdiv ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
}

#navdiv logo{
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	
}
#navdiv ul log{
	float:right;
	margin: 7px;
	}
	
#navdiv log-m{
	display:none;
}

#navdiv drop{
	display:none;
}

#navdiv ul li:hover{
	background: #025389;
	transition: all 0.50s;
}

h1 {
	text-align: center;
	font-size: 30px;
}


htitel{
	font-size:35px;
	font-weight: normal;
}

h2{
	font-size: 25px;
	text-align:center;
	font-weight: normal;
}

/*index service*/

.container{
  text-align: center;

}
.left-div{
  display: inline-block;
  max-width: 200px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  vertical-align: top;
 }
 
 /*index service*/
.container2{
  text-align: center;
  background-color:#0360A3;

}
 
  .iphoneleft{
  display: inline-block;
  max-width: 600px;
  color: white;
  text-align: center;
  padding: 30px;
  margin: 15px;
  vertical-align: middle;
 }

iphonetext {
	font-size: 2.5em;
	color: white;
}

 /*index service*/
.container3{
  text-align: center;

}
 
 .mid{
  display: inline-block;
  max-width: 600px;
  text-align: center;
  padding: 30px;
  margin: 15px;
  vertical-align: middle;
 }
 
 /*index service*/
.container4{
  text-align: center;
}
 
 .iphoneleft{
  display: inline-block;
  max-width: 300px;
  text-align: center;
  padding: 30px;
  margin: 15px;
  vertical-align: middle;
 }
 
 /*Impressum*/
 .impressum{
  display: block;
  max-width: 700px;
  text-align: left;
  padding: 30px;
  margin: 15px;
  vertical-align: middle;
 }
 .text{
	 text-align: left;
	 font-size: 1em;
 }
 h4 {
	text-align: center;
	font-size: 35px;
	color: #0360A3; 
}
 h3{
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;
	margin-top: -50px;
	/*margin-left: 90px;
	margin-right: 90px;*/
}

/*Map IPA*/
 .map{
	display: inline-block;
	margin-left:780px;	
	padding: 68.3px; 
 }
 
/*Unsere Autos*/
@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
} 
div#slider{ 
	overflow: hidden; 
}
div#slider figure img{ 
	width: 20%; float: left; 
}
div#slider figure { 
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 40s slidy infinite; 
}
.abstandtesla{
	margin-top: 30px;
}

/* Deine Städte */

.parallax-one,
.parallax-two,
.parallax-three {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: 70%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.80;
}
.parallax-one{
	background-image: url('http://www.hanseknipser.de/wp-content/uploads/2013/02/Waltershof-Panorama-SW-3.jpg');
}
.parallax-two{
	background-image: url('https://siswords.files.wordpress.com/2013/10/reichstag-sw.jpg');
}
.parallax-three{
	background-image: url('https://www.foto-burk.de/wp-content/uploads/DSC5569-143.jpg');
}
.images{
	margin-left: 150px;
	margin-top: -100px;
}
.dark {
  background-color: #1E415C;
  color: #fff;
}
.text{
	text-align: left;
	margin-left: 0px;
	margin-right: 400px;
}

/* Button CSS */
.login{
	height: 45px;
	width:180px;
	padding: 15px 30px;
	border:none;
	color: #fff;
	background-color: #1E415C;
	margin-top: 20px;
	margin-bottom: -20px;
}
 
/*footer*/


#foot ul{
	position: absolute;
	width: 100%;
	height: 80px;
	font-size: 1.2em;
	background: rgba(3, 98, 165, 0.84);
	line-height: 50px;
	text-align: center;

}

#logo{
	position: absolute;
	float: left;
	margin-left: 10px;
	line-height: 50px;
}
#foot ul a{
	text-decoration: none;
	color: white;
}

/*Ab hier Mobile*/

@media only screen and (max-width: 950px){
#overlay{
	margin-top: -130px;
	font-size: 1.3em;
}
htitel{
	display:none;
	font-size:30px;
}

h2{
	font-size: 20px;
	font-weight: normal;
	margin-left: 90px;
	margin-right: 90px;
}

#navdiv logo{
	width: 140px;
   position: absolute;
   top: 0px;
   left: 50%;
   margin-left: -70px; /*half the size of width*/
	
}

#navdiv log-m{
	float:right;
	margin-top: 7px;
	display:block;
}

#navdiv log{
	display:none;
}

#navdiv drop{	
	float:left;
	margin-top: 7px;
	display:block;
}

#navdiv ul li{
	display:none;
}
h1 {
	font-size: 1.5em;
}
}
